.inputContainer {
  display: flex;
  align-items: center;
}

button {
  cursor: pointer;
}

button:disabled {
  background-color: slategrey;
  cursor: default;
}

button:disabled:hover {
  background-color: slategrey;
}

.speechContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
}